\documentclass[11pt,a4paper]{article}

\usepackage[T1]{fontenc} % Needed voor special characters
\usepackage[utf8]{inputenc} % Use correct encoding
% \usepackage{lmodern} % use this if text looks weird
\usepackage[english]{babel} % Language
\usepackage{amsmath} % Math
\usepackage{amssymb} % More Math
\usepackage{graphicx} % Images
\usepackage{listings} % Code snippets
\usepackage{translations}
\usepackage{xstring}
\usepackage{systeme}

\title{{{title}}}

\begin{document}

\maketitle

\pagebreak

\tableofcontents

\pagebreak

{{content}}

\end{document}
